@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-verde-claro: #7BB93A;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Animations KeyFrame */

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilo do Scroll lateral da página */
/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* fundo do trilho */
}

::-webkit-scrollbar-thumb {
  background-color: #0B6C28; /* cor do 'botão' da barra (ex: gray-600) */
  border-radius: 9999px; /* arredondado */
  border: 2px solid transparent; /* borda interna para espaço */
  background-clip: content-box; /* evita que a cor vá para a borda */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #374151; /* cor no hover (ex: gray-700) */
}

/* Firefox scroll */

* {
  scrollbar-width: thin;
  scrollbar-color: #0B6C28 transparent;
}


/* TESTE DE HEADER */

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}


/* Animação para o loader da página inteira */
@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.98);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Animação para a barra de carregamento no topo */
@keyframes loading-bar-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar-animation 1.5s infinite ease-in-out;
}

/* Animação para a barra de preenchimento do loader */
@keyframes loading-fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-loading-fill {
  animation: loading-fill 1.8s ease-in-out infinite;
}